gradio>=4.19.0
transformers==4.51.3
torch>=2.0.0
accelerate>=0.24.1
fastapi==0.68.0
uvicorn==0.15.0
python-dotenv==0.19.0
gtts==2.2.3
SpeechRecognition==3.8.1
pyttsx3==2.90
pyaudio==0.2.11
websockets==10.0
numpy==1.21.2
requests==2.26.0
python-multipart==0.0.5
aiofiles==0.7.0
pydantic==1.8.2 